rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /line/{LINE_ID} {
      allow read:
        if "" in resource.data.can_read || (request.auth != null && request.auth.uid in resource.data.can_read);
      allow create: if request.auth != null;
      allow update:
        if "" in resource.data.can_write || (request.auth != null && request.auth.uid in resource.data.can_write);
    }
  }
}